/Github_Data_Ziped/
/Extra/
/Training_Data_Unfiltered/
/.venv/
/Training_Data_Filtered/
/downloaded_model/
/Dataset_Analysis/Evaluated_Data_Comparing/Ziped_Evaluated_Data/
/Dataset_Analysis/Evaluated_Data_Comparing/Unziped_Evaluated_Data/
/Dataset_Analysis/Evaluated_Data_Comparing/analysis_results.txt
/logs/
